:root {
  --red: #e74c3c;
  --red-dark: #c0392b;
  --orange: #e67e22;
  --orange-dark: #d35400;
  --green: #2ecc71;
  --green-dark: #27ae60;
  --teal: #1abc9c;
  --teal-dark: #16a085;
  --blue: #3498db;
  --blue-dark: #2980b9;
  --purple: #9b59b6;
  --purple-dark: #8e44ad;
  --nubo: #ecf0f1;
  --argxenta: #bdc3c7;
  --nokto: #2c3e50;
  --primary: var(--teal);
  --primary-dark: var(--teal-dark);
  --secondary: var(--blue);
  --secondary-dark: var(--blue-dark);
  --dark: var(--nokto);
  --light: #f8f9fa;
  --success: var(--green);
  --success-dark: var(--green-dark);
  --info: var(--purple);
  --info-dark: var(--purple-dark);
  --warning: var(--orange);
  --warning-dark: var(--orange-dark);
  --danger: var(--red);
  --danger-dark: var(--red-dark);
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

#root {
  height: 100% !important;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  padding-top: 0.25rem;
  padding-bottom: 0.23rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn-primary {
  color: white !important;
  background-color: var(--primary);
  border-color: var(--primary);
  --depth-color: var(--primary-dark);
}

.btn-secondary {
  background-color: var(--secondary);
  border-color: var(--secondary);
  --depth-color: var(--secondary-dark);
}

.btn:hover {
  background-color: var(--depth-color);
  border-color: var(--depth-color);
}

.btn-outline-secondary {
  color: var(--secondary);
  border-color: var(--secondary);
}

.btn-depth {
  border-width: 0px;
  border-bottom: 3px solid var(--depth-color);
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-primary-dark {
  background-color: var(--primary-dark) !important;
}

.navbar-brand a {
  color: var(--dark);
}

.navbar-brand a:hover {
  text-decoration: none;
}

.nav-link {
  margin: 0.6rem;
}

.navbar-light .navbar-toggler {
  border-color: #00000000;
}

.navbar-dark .navbar-toggler {
  border-color: #00000000;
}

.navbar-nav .dropdown .dropdown-toggle {
  border: 2px lightgray solid;
  padding-left: 1rem;
  padding-right: 1rem;
}

.dropdown-menu {
  background-color: var(--light);
  border: 2px lightgray solid;
  border-radius: 0px;
  padding: 0px;
}

.dropdown-item {
  border-radius: 0px !important;
}

.dropdown-item:hover {
  background-color: var(--nubo);
}

.dropdown-item.active {
  background-color: lightgray;
  color: black;
}

.form-control {
  border: none;
}

.card {
  background-color: var(--light);
  border: none;
}

code {
  color: #9b59b6;
}

.justify {
  text-align: justify;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
